<p>¡Bienvenido a LAIN <%= @resource.email %>!</p>

<p>Puedes confirmar tu cuenta a través del siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Gracias.</p>

<p>LAIN Líder mundial en adelgazamiento.</p>