<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido restablecer tu contraseña, puedes hacerlo con el siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no has sido tú quien pidió restablecer tu contraseña, por favor, ignora este email.</p>
<p>Tu contraseña no cambiará hasta que le des click en el link y eligas una nueva contraseña.</p>
