<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueado por muchos intentos fallidos de ingresar.</p>

<p>Dale click al siguiente link para desbloquearla:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
