<h1>Listando slides</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slides.each do |slide| %>
  <tr>
    <td><%= link_to image_tag(slide.slide(:thumb)), slide %></td>
    <td><%= link_to 'Editar', edit_slide_path(slide) %></td>
    <td><%= link_to 'Eliminar', slide, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Nuevo slide', new_slide_path %>
