<h1>Listing ofertas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ofertas.each do |oferta| %>
  <tr>
    <td><%= link_to 'Show', oferta %></td>
    <td><%= link_to 'Edit', edit_oferta_path(oferta) %></td>
    <td><%= link_to 'Destroy', oferta, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Oferta', new_oferta_path %>
