<h1>Listing ofertas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ofertas.each do |oferta| %>
  <tr>
    <td><%= link_to image_tag(oferta.oferta(:thumb)), oferta %></td>
    <td><%= link_to 'Editar', edit_oferta_path(oferta) %></td>
    <td><%= link_to 'Eliminar', oferta, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if @ofertas.empty? %>
  <%= link_to 'Nueva oferta', new_oferta_path %>
<% end %>
