 <article id="content" class="region">
        <h2 class="title"><%= page_title! "Políticas de privacidad" %></h2>
        
        <p>Tus datos personales registrados en Lainadelgaza.net no serán traspasados por ninguna modalidad a Terceros. Se maneja la información en absolutamente confidencial y conforme lo dispone la legislación vigente en el Perú
        </p>

	    <h3>Política de Declaración de Privacidad PS021-01</h3>
	    <p>
		Esta política corresponde a la Declaración de Privacidad de Lainadelgaza.net expuesta en sitios Internet. (Revisión 1.1 (29 de Agosto 2002)).
		</p>

		<h3>Compromiso con la Seguridad</h3>
		<p>
		Lainadelgaza.net hace esta declaración de seguridad y privacidad en orden a demostrar y comunicar su compromiso con una práctica de negocios de alto nivel ético y dotada de los controles internos apropiados.
		</p>

		<h3>Información requerida del usuario</h3>
		<p>El formulario "Contacto" de Lainadelgaza.net solicita a los usuarios información personal como su nombre, email, dirección y número telefónico. Esta es usada para responder consultas acerca de productos y servicios, para despachar pedidos . Bajo ninguna circunstancia, la información es compartida con terceros.
		</p>

		<h3>Datos Personales</h3>
		<p>
		El usuario dispondrá en todo momento de los derechos de información, rectificación y cancelación de sus datos personales. Asimismo, si deseas modificar tu información personal, lo puedes hacer utilizando algunos de los siguientes canales de comunicación Llenar el formulario de Contacto Llamar al teléfono 206-3400 en horas de oficina.
		</p>

		<h3>Desafiliación</h3>
		<p>
		Una vez dejada la información, usted podrá modificarla o eliminarla de nuestra base de datos ingresando a <%= link_to 'http://www.lainadelgaza.net/usuarios/registro/edit', edit_usuario_registration_path %>
		</p>

      </article>