 <article id="content" class="region">
        <h2 class="title">M&eacute;todo</h2>
        <figure>
	      <%= image_tag '/images/images/img-metodo.jpg' %>
        </figure>
        <p>
          1. En la primera fase efectuamos un estudio completo del paciente, tanto físico como mental, con el que reconocemos su estado de salud antes de iniciar el tratamiento, recopilando la información necesaria para confeccionarle una historia clínica completa. Los objetivos de esa etapa son evaluar la percepción que tiene el paciente sobre su problemática (léase enfermedad) en relación a su esquema corporal, el estado funcional de su cuerpo y los riesgos vitales a los que se expone de continuar en ese estado. Esto es importante poque nos permitirá planificar nuestra labor e involucrará de forma activa al paciente en su rehabilitación.
          </p>
          <p>
2. La segunda fase incluye nuestros avanzados y exclusivos tratamientos. Entre ellos destacan:
ANGULO NUTRICIONAL: Para vencer el problema es necesario un diagnostico exacto, el cual se consigue a través de un sofisticado programa profesional, con el que se detectan desvíos en peso y medidas basadas en biotipos antropométricos acorde a cada persona, considerando edad, sexo, raza, estatura, antecedentes, hábitos, etc.
SPECTROPACH: El "parche", es nuestro exclusivo gel fitoactivo que complementa el adelgazamiento coordinado por nuestro equipo profesional, acelerando resultados.
THERMOGENESIS: Es una solución criogénica de acción residual, que opera el día de su aplicación y al día siguiente, disminuyendo las zonas flácidas y ayudando a la tonificación muscular.
TERMOGEN-TIBIUM: Formula de avanzada tecnología que combate la flacidez y adiposidad más rebelde.
		</p>
        <p>
3. En la tercera fase, e involucrando activamente al paciente, integramos los últimos conocimientos médicos-nutricionales a su exigente paladar y rimo de vida, con lo que logramos planificar su alimentación de manera personalizada, y fomentamos el aumento de la actividad física produciendo descenso ponderal y mejorando sus índices de riesgo cardiovascular. En esta fase nuestros profesionales trabajan hombro a hombro con el paciente, de manera muy estrecha, disminuyendo en un gran porcentaje las posibilidades de fracaso.
		</p>
        <p>
4. En la última fase consolidamos el mantenimiento de los resultados alcanzados, para lo cual el médico tratante estima las necesidades diarias calórico-nutricionales del paciente, para ir restituyendo ordenadamente los diferentes grupos de alimentos con el objetivo de que el paciente, con el conocimiento y la experiencia vividas, logre a voluntad controlar una alimentación libre manteniendo el equilibrio saludable entre sus diferentes nutrientes e identificando con facilidad aquellos excesos que, si se consolidan en la rutina diaria, pondrían en riesgo su salud y calidad de vida.
		</p>
      </article>