<h1>Listing banners</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @banners.each do |banner| %>
  <tr>
    <td><%= image_tag banner.banner(:regular) %></td>
    <td><%= link_to 'Editar', edit_banner_path(banner) %></td>
    <td><%= link_to 'Eliminar', banner, :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% if @banners.empty? %>
  <%= link_to 'Nuevo banner', new_banner_path %>
<% end %>