<h1>Listing cabecera_banners</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cabecera_banners.each do |cabecera_banner| %>
  <tr>
    <td><%= link_to 'Show', cabecera_banner %></td>
    <td><%= link_to 'Edit', edit_cabecera_banner_path(cabecera_banner) %></td>
    <td><%= link_to 'Destroy', cabecera_banner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cabecera banner', new_cabecera_banner_path %>
