<article id="content" class="region">
        <h2 class="title">Nosotros</h2>
        <figure>
          <%= image_tag('/images/images/img-nosotros.jpg') %>
        </figure>
        <p>
         LAIN, es un Centro Médico que realiza tratamientos contra la obesidad. La obesidad es una patología médica que se define como un exceso de tejido graso en el organismo de una persona. En esta acumulación de tejido graso influyen dos factores que son determinantes en esta condición; que son la predisposición genética a ser obeso y un desajuste en los hábitos alimenticios del individuo que le hace perder el equilibrio necesario que debe existir entre el volumen (cantidad) y la composición (variedad de nutrientes) que debe existir en la alimentación de cualquier persona.
		</p>
        <p>
Por lo tanto, estamos en presencia de una patología alimentaria que contiene un alto componente de desajuste cultural y social dado por las costumbres alimenticias erróneas de los diferentes grupos sociales, que se desarrolla sobre un terreno metabólicamente predispuesto a la acumulación de tejido graso.
		</p>
        <p>
La magnitud de la incidencia del sobrepeso-obesidad es un factor de riesgo para la aparición de hipertensión arterial, arteriosclerosis (con el consiguiente riesgo de infartos de miocardio o accidentes vasculares encefálicos) y la aparición de diabetes tipo II o del adulto.
       </p>
        <p>
          La magnitud de la incidencia del sobrepeso-obesidad es un factor de riesgo para la aparición de hipertensión arterial, arteriosclerosis (con el consiguiente riesgo de infartos de miocardio o accidentes vasculares encefálicos) y la aparición de diabetes tipo II o del adulto.
        </p>
      </article>